@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0E0C08;
  --foreground: #F5F2EB;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}
